<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" targetFramework="net35" />
  <package id="Fesslersoft.Extensions" version="1.0.0.2" targetFramework="net35" />
  <package id="NLog" version="4.0.1" targetFramework="net35" />
  <package id="NLog.Config" version="4.0.1" targetFramework="net35" />
  <package id="NLog.Schema" version="4.0.1" targetFramework="net35" />
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
</packages>